.main_comp {
    background-color: #ffffff;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#app_comp {
    margin: auto;
    margin-top: 30px;
}

#title_and_instruction_box {
    border-top-color: #1976d2 !important;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #ffffff;
    padding: 24px;
    padding-top: 22px;
    border-left-color: #dadce0;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-color: #dadce0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #dadce0;
    border-right-width: 1px;
    border-right-style: solid;
}

#title_xc {
    font-size: 24pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #202124;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}

#questions_box {
    width: 640px;
}

#instruction_xc {
    font-size: 11pt;
    line-height: 15pt;
    letter-spacing: 0;
    white-space: pre-wrap;
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin-top: 12px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}

#profile_img_xc {
    width: 37px;
    height: 37px;
    border-radius: 50px;
    object-fit: cover;
}

#profile_desc {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-left-color: #dadce0;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-color: #dadce0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #dadce0;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#email_xc {
    margin-left: 13px;
    font-weight: 700;
    overflow-wrap: break-word;
    width: 75%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
    color: #5f6368;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

#question_poll {
    background: #ffffff;
    padding: 24px;
    padding-top: 22px;
    border-left-color: #dadce0;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-color: #dadce0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #dadce0;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-color: #dadce0;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 8px;
    margin-top: 12px;
}

#option_tzx {
    margin-top: 13px;
}

#opt_ccv {
    margin-left: 6px;
    font-size: 11pt;
    line-height: 15pt;
    letter-spacing: 0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    width: 300px;
    word-wrap: break-word;
}

::v-deep .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
    margin-bottom: 13px;
}

#question_title {
    font-size: 12pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 24px;
    color: #202124;
    font-weight: 400;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 24px;
    color: #202124;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    word-break: break-word;
    margin-bottom: 12px;
    page-break-inside: avoid;
    word-wrap: break-word;
}

::v-deep .v-btn {
    text-transform: initial !important;
    font-size: 14px !important;
    opacity: unset;
}

#submit_work_placeholder {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#footer_tab {
    margin-top: 40px;
    margin-bottom: 40px;
}

#loading_linear_x {
    top: 0 !important;
    position: fixed !important;
    height: 15px !important;
}

#cmr_txt {
    margin-left: 0px;
    font-size: 1rem;
    margin-top: 3px;
}

@media only screen and (max-width: 680px){
    #questions_box {
        width: 530px;
    }
}

@media only screen and (max-width: 570px){
    #questions_box {
        width: 430px;
    }

    #opt_ccv {
        width: 240px;
    }
}

@media only screen and (max-width: 570px){
    #questions_box {
        width: 380px;
    }
}

@media only screen and (max-width: 403px){
    #questions_box {
        width: 320px;
    }

    #opt_ccv {
        width: 200px;
    }
}

@media only screen and (max-width: 340px){
    #questions_box {
        width: 285px;
    }

    #opt_ccv {
        width: 165px;
    }
}

@media only screen and (max-width: 306px){
    #questions_box {
        width: 253px;
    }

    #opt_ccv {
        width: 110px;
    }
}