.app_component {
    height: 100%;
}

.app_data {
    height: 100%;
}

#login_body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#login_xc_form {
    padding: 0px;
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: auto;
}

#login_box_sx3 {
    width: 490px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 70px;
}

#login_xc_bg_img {
    padding: 0px;
    width: 100%;
    background: #f3f5f9;
    position: relative;
}

#ajjs7 {
    width: 130px;
}

#bg_jja7z {
    text-align: center;
    width: 240px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#sjj8sxz {
    text-align: center;
    font-weight: 800;
    font-size: 1.13rem;
    margin-top: 5px;
}

#title_left {
    color: #42b72a;
}

#title_middle {
    color: #42b72a;
}

#title_right {
    color: #1976d2;
}

#para_hytxt {
    font-size: 0.96rem;
    margin-top: 6px;
}

#label_vvtxt {
    font-size: 0.96rem;
    font-weight: 600;
    margin-bottom: 6px;
    width: 230px;
}

::v-deep .theme--light.v-input {
    width: 230px;
}

#forgot_pw_lnk {
    text-decoration: none;
    font-size: 0.93rem;
    color: #1976d2 !important;
}

#frjs7 {
    text-align: left;
}

#shhs6xz {
    text-align: center;
}

#signup_space_cxc {
    margin-top: 23px;
    width: 350px;
    display: inline-block;
}

#have_an_acct_text {
    font-size: 0.93rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

#login_link {
    text-decoration: none;
    color: #1976d2 !important;
}

#kjs7x {
    width: 60px;
}

#img_xxc4s {
    text-align: left;
    margin-bottom: 10px;
    display: none;
}

#wave_hand {
    position: relative;
    top: 5px;
    left: 5px;
}

#inp_flex_box {
    display: flex;
    flex-direction: column;
}

#inp_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#poo9i {
    width: 400px;
}

@media only screen and (max-width: 510px){
    #login_xc_bg_img {
        display: none;
    }

    #img_xxc4s {
        display: block;
    }

    #login_box_sx3 {
        padding: 50px !important;
        width: 100% !important;
    }

    #login_xc_form {
        overflow: unset;
    }

    #have_an_acct_text {
        margin-bottom: 18px;
    }

    #login_box_sx3 {
        margin: 0;
        position: absolute;
        top: unset;
        left: 50%;
        margin-top: 36px;
        transform: translate(-50%);
    }

    #bg_jja7z {
        margin: 0;
        position: absolute;
        top: unset;
        left: 50%;
        transform: translate(-50%);
        margin-top: 120px;
    }

    #login_body {
        height: 550px;
    }
}

@media only screen and (max-width: 350px){
    #login_box_sx3 {
        padding: 20px !important;
    }
}

@media only screen and (max-width: 416px){
    #img_xxc4s {
        text-align: center;
    }

    #login_txt {
        text-align: center;
    }

    #para_hytxt {
        text-align: center;
    }

    #login_box_sx3 {
        padding: 19px !important;
    }

    #login_data_juajjnx5 {
        margin-top: 20px;
    }
}

@media only screen and (max-height: 550px){
    #login_box_sx3 {
        margin: 0;
        position: absolute;
        top: unset;
        left: 50%;
        transform: translate(-50%);
    }

    #bg_jja7z {
        margin: 0;
        position: absolute;
        top: unset;
        left: 50%;
        transform: translate(-50%);
        margin-top: 120px;
    }

    #login_body {
        height: 550px;
    }
}

@media only screen and (max-width: 1053px){
    #inp_row {
        display: flex;
        flex-direction: column;
    }

    #label_vvtxt {
        width: 100%;
    }

    ::v-deep .theme--light.v-input {
        width: 100%;
    }

    #poo9i {
        width: 100%;
    }

    #login_box_sx3 {
        margin-top: 30px;
        width: 400px;
    }

    #signup_space_cxc {
        width: 100%;
    }
}

@media only screen and (max-width: 886px){
    #login_box_sx3 {
        width: 350px;
    }
}

@media only screen and (max-width: 778px){
    #login_box_sx3 {
        width: 288px;
    }
}

@media only screen and (max-width: 660px){
    #login_box_sx3 {
        width: 228px;
    }
}

@media only screen and (max-width: 547px){
    #login_box_sx3 {
        width: 187px;
        margin-top: 60px;
    }
}